*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

html,
body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html,
body,
#root {
  position: relative;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
